doctype html
html(ng-app='TriumvirateApp')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
  base(href='/')
  title Triumvirate Countdown
  script(src='/javascript/app.js' type='text/javascript')
  
  body
    countdown-timer
