doctype html
html(ng-app='app')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
  base(href='/')
  title Triumvirate Countdown
  script(src='/javascript/libs.js' type='text/javascript')
  
  body
    h1 {{1 + 1}}
